/* ==========================================================================
   Global
============================================================================= */
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Set Design Standards & Colors Here */
:root {
  --primary: #42712c;
  --primary-rgb: 255, 193, 25;
  --secondary: #222;
  --secondary-rgb: 0, 0, 0;
  --dark: var(--secondary);
  --dark-rgb: var(--secondary-rgb);
  --light: var(--primary);
  --gray: #f4f4f4;
  --gray-md: #cfcfce;
  --gray-dark: #8a8a8a;
  --gray-darker: #000;
  --gradient: linear-gradient(to right, var(--gray-md) 0%, var(--gray) 100%);
  --gradient-reverse: linear-gradient(
    to left,
    var(--gray-md) 0%,
    var(--gray) 100%
  );
  --border-color: #ccc;
  --muted: var(--border-color);
  --body-text: #222222;
  --text-dark: #000;
  --primary-font: "Lora", serif;
  --secondary-font: "Poppins", sans-serif;
  --cursive-font: "Allura", cursive;
  --box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
  --box-shadow-lg: 0 2px 12px 5px rgb(0 0 0 / 5%),
    0 3px 11px -2px rgb(0 0 0 / 3%), 0 1px 15px 8px rgb(0 0 0 / 5%);
  --box-shadow-xl: 0px 33px 79px 0px rgba(0, 0, 0, 0.08);
  --nhw-border-radius: 20px;
  --nhw-border-radius-lg: 35px;
  --section-margin: 0 0 5rem 0;
}

body {
  font-family: var(--primary-font);
  color: var(--body-text);
  line-height: 1.66;
  font-weight: 500;
  letter-spacing: 0.05em;
  overflow-x: hidden;
}
main {
  overflow: hidden;
}
main > h1 {
  padding: 300px 15px 150px;
  text-align: center;
}
* {
  scroll-behavior: auto !important;
}

section {
  margin: var(--section-margin) !important;
}

/* Font Styles
============================================================================= */
h1 {
  font-size: 96px !important;
  margin: 0 0 45px;
  font-weight: 400 !important;
  font-family: var(--primary-font);
  color: var(--body-text) !important;
  line-height: 1 !important;
  text-transform: capitalize;
}

h2 {
  font-size: 48px !important;
  font-family: var(--primary-font);
  color: var(--body-text) !important;
  line-height: 1 !important;
  font-weight: 500 !important;
  text-transform: capitalize;
}

h3 {
  font-size: 24px !important;
  font-family: var(--primary-font);
  color: var(--body-text) !important;
  font-weight: 500 !important;
}

p {
  font-family: var(--secondary-font);
  font-weight: 300 !important;
  font-size: 15px;
  text-align: center;
}

@media (max-width: 1069px) {
  h1 {
    font-size: 62px !important;
  }
  h2 {
    font-size: 36px !important;
  }
}

@media (max-width: 678px) {
  h1 {
    font-size: 46px !important;
  }
  h2 {
    font-size: 26px !important;
  }
}
/* Utilities - Helper Classes
============================================================================= */
.mw-450 {
  width: 450px;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.mw-600 {
  width: 600px;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.mw-650 {
  width: 650px;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.mw-700 {
  width: 700px;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.mw-750 {
  width: 750px;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.mw-900 {
  width: 900px;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.mw-1000 {
  width: 1000px;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.mw-1060 {
  width: 1060px;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.mw-1200 {
  width: 1200px;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.mw-1400 {
  width: 1400px;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.mw-1600 {
  width: 1600px;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.mw-1700 {
  width: 1700px;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.mw-1800 {
  width: 1800px;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* Padding Relative to Screen Width on containers */
/* Math: (2000px (design width) - 1000px (content width) / 2 (sides)) / 2000px (design width) * 100 = VW */

@media (min-width: 2001px) {
  .pw-1000 {
    width: 1000px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .pw-1400 {
    width: 1400px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .pw-1500 {
    width: 1500px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .pw-1600 {
    width: 1600px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .pw-1700 {
    width: 1700px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .pw-1800 {
    width: 1800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 2000px) {
  .pw-1000 {
    padding-left: max(25vw, 15px) !important;
    padding-right: max(25vw, 15px) !important;
  }
  .pw-1400 {
    padding-left: max(16vw, 15px) !important;
    padding-right: max(16vw, 15px) !important;
  }
  .pw-1500 {
    padding-left: max(12.5vw, 15px) !important;
    padding-right: max(12.5vw, 15px) !important;
  }
  .pw-1600 {
    padding-left: max(10vw, 15px) !important;
    padding-right: max(10vw, 15px) !important;
  }
  .pw-1700 {
    padding-left: max(8vw, 15px) !important;
    padding-right: max(8vw, 15px) !important;
  }
  .pw-1800 {
    padding-left: max(5vw, 15px) !important;
    padding-right: max(5vw, 15px) !important;
  }
}
@media (max-width: 1100px) {
  .pw-1000,
  .pw-1400,
  .pw-1500,
  .pw-1600,
  .pw-1700 {
    padding-left: max(5vw, 15px) !important;
    padding-right: max(5vw, 15px) !important;
  }
  .pw-1800 {
    padding-left: max(2vw, 15px) !important;
    padding-right: max(2vw, 15px) !important;
  }
}

/* Buttons
============================================================================= */
button {
  font-size: 1rem !important;
}
button.primary:hover,
button.primary:focus {
  box-shadow: inset 6.5em 0 0 0 #131612 !important;
}

/* ==========================================================================
   Header
============================================================================= */
:root {
  --header-height: 109px;
}

.navbar-nav .dropdown-menu {
  position: absolute !important;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: unset !important;
}

.navbar-toggler svg {
  color: var(--secondary);
}

.navbar-toggler:hover svg {
  color: var(--primary);
}

ul li {
  font-family: var(--secondary-font);
}

#header {
  height: var(--header-height);
  font-family: var(--secondary-font);
  background-color: #ffffff;
  transition: background-color 0.4s ease-out, box-shadow 0.2s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

/* Affixed styles */
#header.affixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Home Banner
============================================================================= */
#home-banner {
  position: relative;
  height: auto;
  padding-top: var(--header-height);
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

#home-banner img {
  width: 100%;
}

#home-banner span {
  font-size: 20px;
  font-family: var(--secondary-font);
  font-weight: 400;
  color: var(--gray-dark);
}

@media (max-width: 1069px) {
  #home-banner span {
    font-size: 16px !important;
  }
}

@media (max-width: 678px) {
  #home-banner span {
    font-size: 14px !important;
  }
}

/* Services
============================================================================= */

.service-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px !important;
}

/* About
============================================================================= */
#about .container-fluid {
  padding: 50px 0;
  background-color: var(--body-text);
}

/* Left Side */

.about-img {
  position: relative;
}

.about-img img {
  position: absolute;
  bottom: -50px;
  width: 490px;
  /* background: var(--primary);
  border-radius: 50%; */
}

/* Right Side */

#about h3 {
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 64px !important;
}

#about h4 {
  color: #fff !important;
  font-family: var(--secondary) !important;
  font-weight: 700 !important;
  font-style: italic;
  font-size: 24px !important;
  text-transform: uppercase;
  padding-top: 5px;
}

#about p {
  text-align: start;
  font-size: 16px;
  width: 65%;
  padding-top: 10px;
  margin-bottom: 40px;
  color: #fff;
}

#about .about-btn {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  background-color: var(--primary);
  padding: 14px 20px;
  border-radius: 50px;
  transition: all ease 0.25s;
}

#about .about-btn:hover,
#about .about-btnmary:focus {
  box-shadow: inset 0 4rem 0 0 #ffffff !important;
  color: var(--body-text);
}

.social-links {
  margin-top: 40px;
  display: flex;
  gap: 43px;
}

.social-links i {
  transition: all ease 0.35s;
}

.social-links i:hover {
  color: var(--primary) !important;
}

@media (max-width: 1184px) {
  .about-img img {
    width: 420px;
  }

  #about h3 {
    font-size: 46px !important;
  }

  #about h4 {
    font-size: 18px !important;
  }

  #about p {
    font-size: 12px;
  }

  #about .about-btn {
    padding: 12px 16px;
    border-radius: 50px;
    font-size: 12px;
  }

  .social-links i {
    font-size: 22px !important;
  }
}

@media (max-width: 900px) {
  .about-img img {
    width: 360px;
  }
}

@media (max-width: 768px) {
  #about .container-fluid {
    text-align: center;
  }
  .about-img img {
    position: unset;
    background-color: rgba(255, 255, 255, 0.062);
    border: 1px solid #ffffff00;
    backdrop-filter: blur(5px);
    border-radius: 50%;
    width: 180px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 5px 50px -12px;
  }

  #about h3 {
    font-size: 36px !important;
    padding-top: 30px;
  }

  #about h4 {
    font-size: 14px !important;
    padding: 0;
  }

  #about p {
    width: 100%;
    padding: 20px 50px 0 50px !important;
    text-align: center;
  }

  .social-links {
    justify-content: center;
  }
}

/* Get Sold
============================================================================= */
#get-sold button {
  border: none;
  border-bottom: 1px solid var(--body-text);
  background-color: transparent;
  padding: 50px 35px;
  transition: all ease 0.35s;
  text-align: start;
  font-size: 24px !important;
  font-family: var(--primary-font);
}

@media (max-width: 1272px) {
  #get-sold button {
    font-size: 18px !important;
  }
}
@media (max-width: 844px) {
  #get-sold button {
    font-size: 16px !important;
    padding: 20px 35px;
  }
}

#get-sold button:hover {
  background-color: var(--body-text);
  color: #fff;
}

#get-sold .selected {
  background-color: var(--body-text);
  color: #fff;
}

#get-sold .getsold-btn {
  position: relative;
}

#get-sold span {
  position: absolute;
  right: 40px;
}

#get-sold img {
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

#get-sold p {
  font-family: var(--secondary-font);
  padding-top: 20px;
}

/* Find Your Home
============================================================================= */

#find-home .find-home-bg {
  min-height: 400px;
  background-image: url("/public/find-your-home-bg.jpg");
  background-size: cover;
}

#find-home h2 {
  color: #fff !important;
  padding-top: 44px;
}

#find-home h3 {
  text-align: start;
}

#find-home form {
  background-color: #fff;
  padding: 30px 69px;
  border-radius: 20px;
}
