/* ==========================================================================
   Global
============================================================================= */
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Set Design Standards & Colors Here */
:root {
  --primary: #42712c;
  --primary-rgb: 255, 193, 25;
  --secondary: #222;
  --secondary-rgb: 0, 0, 0;
  --dark: var(--secondary);
  --dark-rgb: var(--secondary-rgb);
  --light: var(--primary);
  --gray: #f4f4f4;
  --gray-md: #cfcfce;
  --gray-dark: #8a8a8a;
  --gray-darker: #000;
  --gradient: linear-gradient(to right, var(--gray-md) 0%, var(--gray) 100%);
  --gradient-reverse: linear-gradient(
    to left,
    var(--gray-md) 0%,
    var(--gray) 100%
  );
  --border-color: #ccc;
  --muted: var(--border-color);
  --body-text: #222222;
  --text-dark: #000;
  --primary-font: "Lora", serif;
  --secondary-font: "Poppins", sans-serif;
  --cursive-font: "Allura", cursive;
  --box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
  --box-shadow-lg: 0 2px 12px 5px rgb(0 0 0 / 5%),
    0 3px 11px -2px rgb(0 0 0 / 3%), 0 1px 15px 8px rgb(0 0 0 / 5%);
  --box-shadow-xl: 0px 33px 79px 0px rgba(0, 0, 0, 0.08);
  --nhw-border-radius: 20px;
  --nhw-border-radius-lg: 35px;
  --section-margin: 0 0 4rem 0;
}

/* For medium screens (e.g., tablets) */
@media (max-width: 768px) {
  :root {
    --section-margin: 0 0 3rem 0;
  }
}

/* For small screens (e.g., mobile) */
@media (max-width: 480px) {
  :root {
    --section-margin: 0 0 2rem 0;
  }
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: var(--primary-font);
  color: var(--body-text);
  line-height: 1.66;
  font-weight: 500;
  letter-spacing: 0.05em;
}
main {
  overflow: hidden;
}
main > h1 {
  padding: 300px 15px 150px;
  text-align: center;
}
* {
  scroll-behavior: auto !important;
}

section {
  margin: var(--section-margin) !important;
}

/* Animate
============================================================================= */

.pre-animate {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease-out;
}
/* 
.animated {
  opacity: 1 !important;
  transform: translateY(0) !important;
} */

/* Font Styles
============================================================================= */
h1 {
  font-size: 96px !important;
  margin: 0 0 45px;
  font-weight: 400 !important;
  font-family: var(--primary-font);
  color: var(--body-text) !important;
  line-height: 1 !important;
  text-transform: capitalize;
}

h2 {
  font-size: 48px !important;
  font-family: var(--primary-font);
  color: var(--body-text) !important;
  line-height: 1 !important;
  font-weight: 500 !important;
  text-transform: capitalize;
}

h3 {
  font-size: 24px !important;
  font-family: var(--primary-font);
  color: var(--body-text) !important;
  font-weight: 500 !important;
  line-height: 1.2;
}

p {
  font-family: var(--secondary-font);
  font-weight: 300 !important;
  font-size: 15px;
  text-align: center;
}

@media (max-width: 1069px) {
  h1 {
    font-size: 62px !important;
  }
  h2 {
    font-size: 36px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  p {
    font-size: 14px !important; /* Adjust paragraph font size for smaller screens */
  }
}

@media (max-width: 678px) {
  h1 {
    font-size: 46px !important;
  }
  h2 {
    font-size: 26px !important;
  }
  h3 {
    font-size: 18px !important;
  }
  p {
    font-size: 13px !important; /* Adjust paragraph font size for even smaller screens */
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 36px !important;
  }
  h2 {
    font-size: 22px !important;
  }
  h3 {
    font-size: 16px !important;
  }
  p {
    font-size: 12px !important; /* Further reduce paragraph font size for very small screens */
  }
}

/* Utilities - Helper Classes
============================================================================= */
.mw-450 {
  width: 450px;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.mw-600 {
  width: 600px;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.mw-650 {
  width: 650px;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.mw-700 {
  width: 700px;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.mw-750 {
  width: 750px;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.mw-900 {
  width: 900px;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.mw-1000 {
  width: 1000px;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.mw-1060 {
  width: 1060px;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.mw-1200 {
  width: 1200px;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.mw-1400 {
  width: 1400px;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.mw-1600 {
  width: 1600px;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.mw-1700 {
  width: 1700px;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.mw-1800 {
  width: 1800px;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* Padding Relative to Screen Width on containers */
/* Math: (2000px (design width) - 1000px (content width) / 2 (sides)) / 2000px (design width) * 100 = VW */

@media (min-width: 2001px) {
  .pw-1000 {
    width: 1000px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .pw-1400 {
    width: 1400px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .pw-1500 {
    width: 1500px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .pw-1600 {
    width: 1600px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .pw-1700 {
    width: 1700px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .pw-1800 {
    width: 1800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 2000px) {
  .pw-1000 {
    padding-left: max(25vw, 15px) !important;
    padding-right: max(25vw, 15px) !important;
  }
  .pw-1400 {
    padding-left: max(16vw, 15px) !important;
    padding-right: max(16vw, 15px) !important;
  }
  .pw-1500 {
    padding-left: max(12.5vw, 15px) !important;
    padding-right: max(12.5vw, 15px) !important;
  }
  .pw-1600 {
    padding-left: max(10vw, 15px) !important;
    padding-right: max(10vw, 15px) !important;
  }
  .pw-1700 {
    padding-left: max(8vw, 15px) !important;
    padding-right: max(8vw, 15px) !important;
  }
  .pw-1800 {
    padding-left: max(5vw, 15px) !important;
    padding-right: max(5vw, 15px) !important;
  }
}
@media (max-width: 1100px) {
  .pw-1000,
  .pw-1400,
  .pw-1500,
  .pw-1600,
  .pw-1700 {
    padding-left: max(5vw, 15px) !important;
    padding-right: max(5vw, 15px) !important;
  }
  .pw-1800 {
    padding-left: max(2vw, 15px) !important;
    padding-right: max(2vw, 15px) !important;
  }
}

/* Buttons
============================================================================= */
button {
  font-size: 1rem !important;
}
button.primary:hover,
button.primary:focus {
  box-shadow: inset 6.5em 0 0 0 #131612 !important;
}

/* ==========================================================================
   Header
============================================================================= */
:root {
  --header-height: 109px;
}

.navbar-nav .dropdown-menu {
  position: absolute !important;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: unset !important;
}

.navbar-toggler svg {
  color: var(--secondary);
}

.navbar-toggler:hover svg {
  color: var(--primary);
}

ul li {
  font-family: var(--secondary-font);
}

#header {
  height: var(--header-height);
  font-family: var(--secondary-font);
  background-color: #ffffff;
  transition: background-color 0.4s ease-out, box-shadow 0.2s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

/* Affixed styles */
#header.affixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

@media (max-width: 991px) {
  :root {
    --header-height: 90px;
  }

  #header.affixed {
    height: 50px;
  }

  #header.affixed img {
    height: 30px;
    width: auto;
  }

  #header.affixed .navbar-toggler svg {
    width: 30px;
  }
}
/* Home Banner
============================================================================= */
#home-banner {
  position: relative;
  height: auto;
  padding-top: var(--header-height);
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

#home-banner img {
  width: 100%;
}

#home-banner span {
  font-size: 20px;
  font-family: var(--secondary-font);
  font-weight: 400;
  color: #333333;
}

@media (max-width: 1069px) {
  #home-banner span {
    font-size: 16px !important;
  }
}

@media (max-width: 678px) {
  #home-banner span {
    font-size: 14px !important;
  }
}

/* Services
============================================================================= */

.service-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 3rem !important;
}

@media (max-width: 992px) {
  .service-item {
    margin-top: 1rem !important;
  }
}

/* About
============================================================================= */
#about .container-fluid {
  padding: 50px 0;
  background-color: var(--body-text);
}

/* Left Side */

.about-img {
  position: relative;
}

.about-img img {
  position: absolute;
  bottom: -50px;
  width: 490px;
  /* background: var(--primary);
  border-radius: 50%; */
}

/* Right Side */

#about h3 {
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 64px !important;
}

#about h4 {
  color: #fff !important;
  font-family: var(--secondary) !important;
  font-weight: 700 !important;
  font-style: italic;
  font-size: 24px !important;
  text-transform: uppercase;
  padding-top: 5px;
}

#about p {
  text-align: start;
  font-size: 16px;
  width: 65%;
  padding-top: 10px;
  margin-bottom: 40px;
  color: #fff;
}

#about .about-btn {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  background-color: var(--primary);
  padding: 14px 20px;
  border-radius: 50px;
  transition: all ease 0.25s;
}

#about .about-btn:hover,
#about .about-btnmary:focus {
  box-shadow: inset 0 4rem 0 0 #ffffff !important;
  color: var(--body-text);
}

.social-links {
  margin-top: 40px;
  display: flex;
  gap: 43px;
}

.social-links i {
  transition: all ease 0.35s;
}

.social-links i:hover {
  color: var(--primary) !important;
}

@media (max-width: 1184px) {
  .about-img img {
    width: 420px;
  }

  #about h3 {
    font-size: 46px !important;
  }

  #about h4 {
    font-size: 18px !important;
  }

  #about p {
    font-size: 12px;
  }

  #about .about-btn {
    padding: 12px 16px;
    border-radius: 50px;
    font-size: 12px;
  }

  .social-links i {
    font-size: 22px !important;
  }
}

@media (max-width: 900px) {
  .about-img img {
    width: 360px;
  }
}

@media (max-width: 768px) {
  #about .container-fluid {
    text-align: center;
  }
  .about-img img {
    position: unset;
    background-color: rgba(255, 255, 255, 0.062);
    border: 1px solid #ffffff00;
    backdrop-filter: blur(5px);
    border-radius: 50%;
    width: 180px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 5px 50px -12px;
  }

  #about h3 {
    font-size: 36px !important;
    padding-top: 30px;
  }

  #about h4 {
    font-size: 14px !important;
    padding: 0;
  }

  #about p {
    width: 100%;
    padding: 20px 50px 0 50px !important;
    text-align: center;
  }

  .social-links {
    justify-content: center;
  }
}

/* Get Sold
============================================================================= */
#get-sold button {
  border: none;
  border-bottom: 1px solid var(--body-text);
  background-color: transparent;
  padding: 50px 35px;
  transition: all ease 0.35s;
  text-align: start;
  font-size: 24px !important;
  font-family: var(--primary-font);
}

@media (max-width: 1272px) {
  #get-sold button {
    font-size: 18px !important;
  }
}
@media (max-width: 844px) {
  #get-sold button {
    font-size: 16px !important;
    padding: 20px 35px;
  }
}

#get-sold button:hover {
  background-color: var(--body-text);
  color: #fff;
}

#get-sold .selected {
  background-color: var(--body-text);
  color: #fff;
}

#get-sold .getsold-btn {
  position: relative;
}

#get-sold span {
  position: absolute;
  right: 40px;
}

#get-sold img {
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

#get-sold p {
  font-family: var(--secondary-font);
  padding-top: 20px;
}

/* Find Your Home
============================================================================= */
#find-home {
  position: relative;
}
#find-home .find-home-bg {
  min-height: 350px;
  background-image: url("/public/find-your-home-bg.jpg");
  background-size: cover;
}

#find-home h2 {
  color: #fff !important;
  padding-top: 44px;
}

#find-home h3 {
  text-align: start;
}

#find-home form {
  background-color: #fff;
  padding: 30px 69px;
  border-radius: 20px;
  position: absolute;
  bottom: -230px;
  left: 50%;
  width: 65rem;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.find-home-form button,
.find-home-form select {
  font-size: 1rem;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 0.5rem;
  width: 100%;
}

.find-home-form input {
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-top: 0.5rem;
  width: 100%;
}

.find-home-form label {
  margin-top: 10px;
}

.find-home-form select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16"><path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659"/></svg>');

  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1rem;
  padding-right: 2.5rem;
}

.find-home-form button {
  border-radius: 90px;
  align-items: center;
  margin: 25px 0 0 0;
}

@media (max-width: 1107px) {
  #find-home form {
    width: 55rem;
  }
}

@media (max-width: 925px) {
  #find-home .find-home-bg {
    min-height: unset;
    height: 100%;
    padding: 60px 20px;
  }
  #find-home form {
    background-color: #fff;
    padding: 30px 69px;
    border-radius: 20px;
    position: unset;
    bottom: unset;
    left: unset;
    width: 100%;
    transform: unset;
    margin-top: 40px;
  }
}

/* Photo Gallery
============================================================================= */

#photo-gallery {
  margin-top: 140px !important;
}

#photo-gallery .active-photo {
  margin-top: 30px;
}

#photo-gallery .active-photo img {
  width: 100%;
  height: 511px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

#photo-gallery .photo-buttons-cont {
  display: flex;
  gap: 21px;
}

#photo-gallery .photos-btn {
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  margin-top: 21px;
  filter: brightness(40%);
  transition: all ease 0.35s;
}

#photo-gallery .photos-btn:hover {
  filter: brightness(100%);
}

#photo-gallery .photos-btn.selected {
  filter: brightness(100%);
}

@media (max-width: 925px) {
  #photo-gallery {
    margin-top: 0 !important;
  }

  #photo-gallery .active-photo img {
    height: 300px;
  }
}

@media (max-width: 800px) {
  #photo-gallery .photos-btn {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 650px) {
  #photo-gallery .photos-btn {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 503px) {
  #photo-gallery .photo-buttons-cont {
    display: flex;
    gap: 10px;
  }
}

@media (max-width: 427px) {
  #photo-gallery .photos-btn {
    width: 40px;
    height: 40px;
  }
}

/* ==========================================================================
   Footer
============================================================================= */

#footer {
  margin: 0px !important;
}

#footer .container-fluid {
  background-color: var(--body-text);
  padding: 56px 0 20px 0;
}

#footer h3,
#footer p,
#footer a {
  color: #fff !important;
  text-align: start !important;
  transition: all ease 0.35s;
}

#footer a:hover {
  color: var(--primary) !important;
}

#footer h3 {
  margin-bottom: 16px;
}

#footer a,
#footer ul {
  list-style: none;
  text-decoration: none;
  padding: 0px;
  margin: 0;
}

#footer ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-img {
  width: 208px;
  filter: brightness(0) invert(1);
}

#footer .social-links {
  text-align: start !important;
  justify-content: start !important;
}

#footer label {
  color: #fff !important;
  margin: 20px 0 0 0;
}

#footer input,
#footer textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid #d8d6d6;
}

#footer input {
  display: block;
  width: 100% !important;
}

#footer button {
  margin-top: 30px;
}

#footer .footer-logo-container {
  display: flex;
  gap: 40px;
  justify-content: center;
}

#footer .footer-logo-container img {
  width: 50px;
  object-fit: cover;
  object-position: center;
}

#footer .copyright {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  #footer h3,
  #footer p,
  #footer a {
    text-align: center !important;
  }

  #footer ul {
    justify-content: center;
    text-align: center;
  }

  .footer-col-1 {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
  }

  #footer .social-links {
    text-align: start !important;
    justify-content: start !important;
  }
}
